<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Detalles del Producto</h1>
        <div class="card">
            <div class="card-body">
                <h2>{{ product.name }}</h2>
                <p class="card-text"><strong>Nombre:</strong> {{ product.name }}</p>
                <p class="card-text"><strong>Color:</strong> {{ product.color }}</p>
                <p class="card-text"><strong>Tamaño:</strong> {{ product.size }}</p>
                <p class="card-text">
                    <!-- Mostrar el precio original tachado -->
                    Precio Original: <span style="text-decoration: line-through;">${{ base_price|floatformat:2 }}</span>
                </p>
                <p class="card-text">
                    <!-- Mostrar el precio con descuento si aplica -->
                    Tu Precio: <strong>${{ user_price|floatformat:2 }}</strong>
                </p>
                <a href="{% url 'create_product' %}" class="btn btn-primary mt-3">Crear otro producto</a>
                <a href="{% url 'add_to_cart' product.id %}" class="btn btn-success">Agregar al Carrito</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
